[submodule "Hierarchical-Localization"]
	path = Hierarchical-Localization
	url = https://github.com/cvg/Hierarchical-Localization.git
[submodule "gemsplat"]
	path = gemsplat
	url = https://github.com/madang6/gemsplat.git
